/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-display: swap; /* чтобы при загрузке сайта текст поначалу показывался стандартным шрифтом */
    font-family: "Inter-Variable"; /* вариативный шрифт */
    font-weight: 410 785; /* диапазон значений шрифта */
    font-variation-settings: "wght" 410 715; 
    src:
    local("Inter-Variable"),
    url(./Inter-Variable.woff2) format("woff2"),
    url(./Inter-Variable.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-family: "PressStart2P-Regular";
    font-weight: 400;
    font-style: normal;
    src: url(./PressStart2P-Regular.woff) format("woff");
}